In [2]:
# Question 1: Reverse List by N Elements

In [3]:
def reverse_in_groups(lst, n):
    result = []
    length = len(lst)

    # Iterate through the list in steps of n
    for i in range(0, length, n):
        group = []
        
        # Collect the current group of n elements
        for j in range(i, min(i + n, length)):
            group.append(lst[j])
        
        # Reverse the group manually
        for j in range(len(group) - 1, -1, -1):
            result.append(group[j])

    return result

# Example usage:
example_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 3
result = reverse_in_groups(example_list, n)
print(result)

[3, 2, 1, 6, 5, 4, 9, 8, 7]

In [4]:
# Question 2: Lists & Dictionaries

In [5]:
def group_strings_by_length(strings):
    length_dict = {}

    # Iterate through each string in the list
    for string in strings:
        length = len(string)

        # If the length is not in the dictionary, add it with an empty list
        if length not in length_dict:
            length_dict[length] = []
        
        # Append the string to the list corresponding to its length
        length_dict[length].append(string)

    # Sort the dictionary by length (keys) and return it
    return dict(sorted(length_dict.items()))


example_strings = ["apple", "banana", "kiwi", "pear", "grape", "fig", "cherry"]
result = group_strings_by_length(example_strings)
print(result)

{3: ['fig'], 4: ['kiwi', 'pear'], 5: ['apple', 'grape'], 6: ['banana', 'cherry']}

In [6]:
# Question 3: Flatten a Nested Dictionary

In [7]:
def flatten_dict(nested_dict, parent_key='', sep='.'):
    flattened = {}

    for key, value in nested_dict.items():
        # Create the new key by concatenating the parent key with the current key
        new_key = f"{parent_key}{sep}{key}" if parent_key else key

        if isinstance(value, dict):
            # If the value is a dictionary, recurse into it
            flattened.update(flatten_dict(value, new_key, sep=sep))
        elif isinstance(value, list):
            # If the value is a list, iterate through the list and handle each item
            for index, item in enumerate(value):
                if isinstance(item, dict):
                    # If the item is a dictionary, recurse into it
                    flattened.update(flatten_dict(item, f"{new_key}[{index}]", sep=sep))
                else:
                    # Otherwise, add the item directly
                    flattened[f"{new_key}[{index}]"] = item
        else:
            # If it's neither a dict nor a list, just add it to the flattened dictionary
            flattened[new_key] = value

    return flattened

# Example usage:
nested_example = {
    'name': 'John',
    'details': {
        'age': 30,
        'address': {
            'city': 'New York',
            'zip': '10001'
        },
        'hobbies': ['reading', 'traveling', {'type': 'sports', 'name': 'basketball'}]
    },
    'active': True
}

result = flatten_dict(nested_example)
print(result)

{'name': 'John', 'details.age': 30, 'details.address.city': 'New York', 'details.address.zip': '10001', 'details.hobbies[0]': 'reading', 'details.hobbies[1]': 'traveling', 'details.hobbies[2].type': 'sports', 'details.hobbies[2].name': 'basketball', 'active': True}

In [8]:
# Question 4 Generate Unique Permutations

In [9]:
def unique_permutations(nums):
    def backtrack(start):
        
        if start == len(nums):
            result.append(nums[:])
            return
        
        seen = set()  # To track seen numbers in the current position
        for i in range(start, len(nums)):
            if nums[i] in seen:
                continue  
            seen.add(nums[i])  
            nums[start], nums[i] = nums[i], nums[start]
            
            backtrack(start + 1)
            
            nums[start], nums[i] = nums[i], nums[start]

    result = []
    nums.sort()  
    backtrack(0)
    return result


example_list = [2, 2, 3]
unique_perms = unique_permutations(example_list)
print(unique_perms)

[[2, 2, 3], [2, 3, 2], [3, 2, 2]]

In [10]:
# Question 5: Find All Dates in a Text

In [11]:
import re

def find_all_dates(input_string):
    # Regular expressions for the different date formats
    date_patterns = [
        r'\b(\d{2})-(\d{2})-(\d{4})\b',  # dd-mm-yyyy
        r'\b(\d{2})/(\d{2})/(\d{4})\b',  # mm/dd/yyyy
        r'\b(\d{4})\.(\d{2})\.(\d{2})\b'  # yyyy.mm.dd
    ]
    
    # List to store found dates
    found_dates = []

    # Check each pattern and find all matches
    for pattern in date_patterns:
        matches = re.findall(pattern, input_string)
        for match in matches:
            found_dates.append('-'.join(match) if pattern.startswith(r'\b(\d{2})') else '.'.join(match))

    return found_dates

# Example usage:
example_string = "The events are scheduled on 13-03-2023, 06/10/2023, and 2023.05.12. Some invalid dates are 30-02-2023 and 31/04/2023."
valid_dates = find_all_dates(example_string)
print(valid_dates)

['13-03-2023', '30-02-2023', '06-10-2023', '31-04-2023', '2023.05.12']

In [12]:
# Question 7: Matrix Rotation and Transformation

In [13]:
def rotate_and_transform_matrix(matrix):
    n = len(matrix)  # Size of the square matrix

    # Step 1: Rotate the matrix 90 degrees clockwise
    rotated_matrix = [[0] * n for _ in range(n)]
    for i in range(n):
        for j in range(n):
            rotated_matrix[j][n - 1 - i] = matrix[i][j]

    # Step 2: Create a transformed matrix
    transformed_matrix = [[0] * n for _ in range(n)]
    
    for i in range(n):
        for j in range(n):
            # Sum of the row excluding the current element
            row_sum = sum(rotated_matrix[i]) - rotated_matrix[i][j]
            # Sum of the column excluding the current element
            col_sum = sum(rotated_matrix[k][j] for k in range(n)) - rotated_matrix[i][j]
            # Store the result in the transformed matrix
            transformed_matrix[i][j] = row_sum + col_sum

    return transformed_matrix

# Example usage:
matrix = [
    [3, 2, 3],
    [4,8, 6],
    [7, 5, 9]
]

result = rotate_and_transform_matrix(matrix)
for row in result:
    print(row)

[21, 24, 16]
[26, 17, 19]
[21, 24, 20]

In [14]:
# Question 8: Time Check

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv(r"C:\Users\ACER\Downloads\dataset-1.csv")
df

,id,name,id_2,startDay,startTime,endDay,endTime,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,1040000,Montgomery,-1,Monday,05:00:00,Wednesday,10:00:00,3.0,3.0,-1.0,-1,3,3,3,3
1,1040010,Black,-1,Monday,10:00:00,Friday,15:00:00,6.0,6.0,-1.0,-1,6,6,6,6
2,1040020,Emerald,-1,Thursday,15:00:00,Friday,19:00:00,3.0,3.0,-1.0,-1,3,3,3,3
3,1040030,Foley,-1,Monday,19:00:00,Friday,23:59:59,6.0,6.0,-1.0,-1,6,6,6,6
4,1050000,Whittier,1050001,Saturday,00:00:00,Sunday,23:59:59,6.0,6.0,NaN,-1,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39509,1031012,Baldwin,1031030,Monday,19:00:00,Friday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39510,1031012,Baldwin,1031032,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39511,1031014,Thickson,1031016,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39512,1031014,Thickson,1031018,Monday,05:00:00,Wednesday,10:00:00,8.0,8.0,4.0,4,8,8,8,8
39513,1031014,Thickson,1031020,Monday,10:00:00,Friday,15:00:00,11.0,11.0,4.0,4,11,11,11,11

In [19]:
import pandas as pd

def check_time_data_completeness(df):
    # Step 1: Combine start and end dates and times into a single datetime column with error handling
    df['start_timestamp'] = pd.to_datetime(df['startDay'] + ' ' + df['startTime'], errors='coerce')
    df['end_timestamp'] = pd.to_datetime(df['endDay'] + ' ' + df['endTime'], errors='coerce')

    # Step 2: Check for NaT values in the timestamps and drop them
    invalid_rows = df[(df['start_timestamp'].isna()) | (df['end_timestamp'].isna())]
    
    if not invalid_rows.empty:
        print("Invalid rows detected and will be dropped:")
        print(invalid_rows)

    df = df.dropna(subset=['start_timestamp', 'end_timestamp'])

    # Step 3: Create a multi-index DataFrame based on (id, id_2)
    grouped = df.groupby(['id', 'id_2'])

    # Step 4: Function to check completeness of timestamps
    def check_completeness(group):
        # Generate a full range of timestamps for 24 hours across all 7 days
        full_days = pd.date_range(start=group['start_timestamp'].min().normalize(), 
                                   end=group['end_timestamp'].max().normalize() + pd.Timedelta(days=6), 
                                   freq='D')
        
        # Check if we have all days of the week
        all_days = pd.date_range(start='2023-01-01', end='2023-01-07', freq='D').date
        
        # Create a complete set of expected timestamps
        complete_timestamps = []
        for day in all_days:
            complete_timestamps.append(pd.date_range(start=pd.Timestamp(day), 
                                                      end=pd.Timestamp(day).normalize() + pd.Timedelta(hours=23, minutes=59, seconds=59), 
                                                      freq='S'))
        
        # Flatten the list of complete timestamps
        complete_timestamps = pd.Index(sorted([ts for day in complete_timestamps for ts in day]))

        # Flatten actual timestamps
        actual_timestamps = pd.Index(sorted(pd.concat([group['start_timestamp'], group['end_timestamp']])))

        # Check for coverage of all expected timestamps
        return not complete_timestamps.isin(actual_timestamps).any()

    # Apply the completeness check and create a boolean series
    completeness_results = grouped.apply(check_completeness)
    
    # Return the results as a boolean series with multi-index
    return completeness_results

# Example usage

results = check_time_data_completeness(df)
print(results)

Invalid rows detected and will be dropped:
            id        name     id_2  startDay startTime     endDay   endTime  \
0      1040000  Montgomery       -1    Monday  05:00:00  Wednesday  10:00:00
1      1040010       Black       -1    Monday  10:00:00     Friday  15:00:00
2      1040020     Emerald       -1  Thursday  15:00:00     Friday  19:00:00
3      1040030       Foley       -1    Monday  19:00:00     Friday  23:59:59
4      1050000    Whittier  1050001  Saturday  00:00:00     Sunday  23:59:59
...        ...         ...      ...       ...       ...        ...       ...
39509  1031012     Baldwin  1031030    Monday  19:00:00     Friday  23:59:59
39510  1031012     Baldwin  1031032  Saturday  00:00:00     Sunday  23:59:59
39511  1031014    Thickson  1031016  Saturday  00:00:00     Sunday  23:59:59
39512  1031014    Thickson  1031018    Monday  05:00:00  Wednesday  10:00:00
39513  1031014    Thickson  1031020    Monday  10:00:00     Friday  15:00:00

       able2Hov2  able2Hov3  able3Hov2  able3Hov3  able5Hov2  able5Hov3  \
0            3.0        3.0       -1.0         -1          3          3
1            6.0        6.0       -1.0         -1          6          6
2            3.0        3.0       -1.0         -1          3          3
3            6.0        6.0       -1.0         -1          6          6
4            6.0        6.0        NaN         -1          6          6
...          ...        ...        ...        ...        ...        ...
39509       11.0       11.0        4.0          4         11         11
39510       11.0       11.0        4.0          4         11         11
39511       11.0       11.0        4.0          4         11         11
39512        8.0        8.0        4.0          4          8          8
39513       11.0       11.0        4.0          4         11         11

       able4Hov2  able4Hov3 start_timestamp end_timestamp
0              3          3             NaT           NaT
1              6          6             NaT           NaT
2              3          3             NaT           NaT
3              6          6             NaT           NaT
4              6          6             NaT           NaT
...          ...        ...             ...           ...
39509         11         11             NaT           NaT
39510         11         11             NaT           NaT
39511         11         11             NaT           NaT
39512          8          8             NaT           NaT
39513         11         11             NaT           NaT

[39514 rows x 17 columns]
Empty DataFrame
Columns: [id, name, id_2, startDay, startTime, endDay, endTime, able2Hov2, able2Hov3, able3Hov2, able3Hov3, able5Hov2, able5Hov3, able4Hov2, able4Hov3, start_timestamp, end_timestamp]
Index: []